.container {
  text-align: center;
  font-family: 'Arial, sans-serif';
  /* min-height: 150vh;  Ensures the container takes up at least the full viewport height */
  padding: 20px;
  border-radius: 10px;
  background: linear-gradient(to bottom, #f0f0f0, #e0e0e0); /* Adds a gradient background */
}

#output {
  min-width: 100%;
  min-height: 150vh;  /* Ensures the container takes up at least the full viewport height */
}

.title {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #333;
}

.predict-button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.predict-button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

.results {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media (min-width: 1024px) {
  .results {
    flex-direction: column;
    align-items: center;
  }
  .results-container {
    min-width: 80%;
  }
}

.results-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  width: 100%;
  max-width: 400px;
  margin: 10px;
}

.results-container h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #555;
}

.standings-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.standings-table th, .standings-table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.standings-table th {
  background-color: #007bff;
  color: #fff;
}

.standing-1 td {
  background-color: #FFD700; /* Gold */
  font-weight: bold;
}

.standing-2 td {
  background-color: #C0C0C0; /* Silver */
  font-weight: bold;
}

.standing-3 td {
  background-color: #CD7F32; /* Bronze */
  font-weight: bold;
}